<section class="novidadesbox">
    <div class="container">
        <div class="novidadesarea">
            <h2> NOVIDADES </h2>
            <div id="espaco-novidades" class="content-nov">
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/PC3.png">
                    <h3>NOVIDADE</h3>
                    <p>Lorem ipsum...</p>
                </div>     
            </div>
        </div>
    </div>
</section>