<section class="listacomputadores">
    <h1>Conheça Nossos Computadores</h1>
        <div class="container">
            <div class="row">
                <div class="col boxcomputadores">
                    <img src="assets/img/PC1.png">
                    <h3>Computador 1</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div div class="col boxcomputadores">
                    <img src="assets/img/PC2.png">
                    <h3>Computador 2</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div div class="col boxcomputadores">
                    <img src="assets/img/PC3.png">
                    <h3>Computador 3</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div div class="col boxcomputadores">
                    <img src="assets/img/PC4.png">
                    <h3>Computador 4</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>    
</section>