.listacomputadores {
    background-color: aquamarine;
}

.listacomputadores h1{
    justify-content: center;
}

.boxcomputadores {
    background-color: blue;
    border-radius: 3%;
    width: 100%;
}