<section class ="container-grid posi-header container-fluid">
        <a href="index.html" class="logo"><img src="/assets/img/Logo.svg" alt="Logo do Site"></a>
        <div class="menu">  
            <div>
                <a routerLink="">Home</a>
                <a routerLink="novidades">Novidades</a>
                <a routerLink="computadores">Computadores</a>
                <a routerLink="eletronicos">Eletronicos</a>
                <a routerLink="contatos">Contatos</a>
                <a routerLink="noticias">Noticias</a>
            </div>
            <div class="botaobusca">
                <input type="text"/>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        BUSCAR
                    </button>
            </div>
        </div>
</section>
