* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    overflow-x: hidden;
    
}

@font-face {
    font-family: Quantico;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.container-grid {
    width: 1366px;
    margin: 0;
    justify-content: space-between;
    background-color: #2D2A2A;
}

.posi-header {
    width: 1366px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu {
    
    width: 900px;
    align-items: flex-start;
    
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    
    
}

.botaobusca {
   display: inline-flex;
   justify-content: center;
   right: 15%;
}




@media screen and (max-width: 1200px){
    header{
        width: 1200px;
    }
    .container-grid{
        width: 100%;
    }
    .menu{
        width: 460px;
    }
    .menu a{
        font-size: 20px;
    }
    .logo{
        width: 300px;
    }

    .banner {
        width: 1200px;
    }

    .computadores {
        width: 1200px;
    }
    
    #infos {
        width: 1200px;
    }
}

@media screen and (max-width: 990px){
    
    header{
        width: 999px;
    }

    .banner {
        width: 999px;
        height: 300px;
    }
    .banner h1{
        font-size: 30px;
    }
    .banner h4{
        font-size: 20px;
    }
    .banner a{
        width: 130px;
    }

    .computadores {
        width: 999px;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 200px;        
        background-color: black;
        position: absolute;
        top: 0;
        right: 65px;
    }

    .menu-ativo {
        display: flex;
    }

    .menu a {
        text-align: center;
        padding: 15px;
    }

    .posi-header{
        position: relative;
    }
    .texto-bn button{
        position: relative;
    }

    .btncadastro{
        display: flex;
        justify-content: flex-end;
    }

    #infos {
        width: 999px;
    }

    #infos img {
        width: 35px;
    }
    #campoemail {
        width: 170px;
    }
    
    .btncadastro {
        width: 170px;
    }
}

@media screen and (max-width: 790px){
        header{
            width: 790px;
        }

        .banner{
            width: 790px;
            height: 300px;
        }
        
        .banner h1{
            font-size: 25px;
        }
        .banner h4{
            font-size: 15px;
        }
        .cadastro {
            width: 160px;
        }

        .computadores{
            width: 790px;
            
        }

        .computadores h1{
            font-size: 25px;
        }

        .computadores img {
            width: 150px;
        }

        #infos{
            width: 790px;
        }
        #infos img {
            width: 30px;
        }
        #campoemail {
            width: 140px;
        }
        
        .btncadastro {
            width: 140px;
        }
        .cadastro{
            width: 340px;
        }
}   
@media screen and (max-width: 540px){
        header{
            width: 540px;
        }
    
        .banner{
            width: 540px;
        }
    
        .computadores{
            width: 540px;
            height: 600px;
        }
    
        .computadores img {
            width: 100px;
        }
    
        #infos{
            width: 540px;
            height: 300px;
        }
        #infos img {
            width: 15px;
        }
        .cadastro{
            width: 250px;
        }
        #campoemail {
            width: 130px;
        }
        
        .btncadastro {
            width: 130px;
        }
   
}

