<section class="novidadesbox">
    <div class="container">
        <div class="novidadesarea">
            <h2> NOTICIAS </h2>
            <div id="espaco-novidades" class="content-nov">
                <div *ngFor="let noticia of listaNoticias" class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>{{ noticia.titulo }}</h3>
                    <p>{{ noticia.descricao }}</p>
                </div>
                <!-- <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div>  -->
                <!-- <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div> 
                <div class="cardnov">
                    <img src="assets/img/cabousb.png">
                    <h3>NOTICIA</h3>
                    <p>Lorem ipsum...</p>
                </div>  --> 
            </div>
        </div>
    </div>
</section>