<header>
    
            <a href="index.html" class="logo"><img src="C:/Users/rp121/Desktop/UC9SA2/Imagens/Logo.svg" alt="Logo do Site"></a>
        <div class="menu">  
            <nav>
                <a href="index.html">Home</a>
                <a href="novidades.html">Novidades</a>
                <a href="computadores.html">Computadores</a>
                <a href="eletronicos.html">Eletrônicos</a>
                <a href="contato.html">Contato</a>
            </nav>
            <div class="botaobusca">
                <input type="text"/>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        BUSCAR
                    </button>
            </div>
        </div>      
    
</header>

<section class="computadoresbox">
    <h1>Conheça Nossos Computadores</h1>
    <div class="container-computador">
        
        <div class="computador-area">
            
            <div id="espaco-pcs" class="conteudo-pcs">
                <div class="listacomputadores">
                    <img src="Imagens/PC1.png">
                    <h3>Computador 1</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div class="listacomputadores">
                    <img src="Imagens/PC2.png">
                    <h3>Computador 2</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div class="listacomputadores">
                    <img src="Imagens/PC3.png">
                    <h3>Computador 3</h3>
                    <p>Lorem ipsum...</p>
                </div>
                <div class="listacomputadores">
                    <img src="Imagens/PC4.png">
                    <h3>Computador 4</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>
        </div>    
    </div>
</section>
