    <section class="banner">
        <div>
            <div>
                <nav class="texto-bn"> 
                    <h1>A melhor loja Gamer</h1>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id sem justo. Nullam sit amet nulla et leo tempor pellentesque. Mauris convallis sagittis scelerisque. Etiam quis mattis ipsum, a iaculis tortor. Nunc egestas nunc ipsum, vitae ultricies ipsum dignissim ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat.</h4>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
                        COMPRAR
                    </button>
                </nav>
            </div>
        </div>
    </section>    

    <section class="computadores">
        <div class="container-fluid">
            <h1>COMPUTADORES</h1>
            <div class="row pcs">
                <div class="col-12 col-xs-2 col-sm-3 col-md-3 col-lg-3">
                    <img  src = '/assets/img/PC1.png' class="img-responsive" alt="Responsive image">
                        <P>Lorem ipsum dolor sit amet</P>
                </div>
                <div class="col-12 col-xs-2 col-sm-3 col-md-3 col-lg-3">
                    <img src = '/assets/img/PC2.png' class="img-responsive" alt="Responsive image">
                    <P>Lorem ipsum dolor sit amet</P>
                </div>
                <div class="col-12 col-xs-2 col-sm-3 col-md-3 col-lg-3">
                    <img src= '/assets/img/PC3.png' class="img-responsive" alt="Responsive image">
                    <P>Lorem ipsum dolor sit amet</P>
                </div>
                <div class="col-12 col-xs-2 col-sm-3 col-md-3 col-lg-3">
                    <img src= '/assets/img/PC4.png' class="img-responsive" alt="Responsive image">
                    <P>Lorem ipsum dolor sit amet</P>
                </div>
            </div>
        </div>
    </section>

